[submodule "front/rec"]
	path = front/rec
	url = https://github.com/ak5bhat/Inventory-Reconciliation-Blockchain-Hyperledger-Fabric/tree/master/
[submodule "front/recon"]
	path = front/recon
	url = https://github.com/ak5bhat/Inventory-Reconciliation-Blockchain-Hyperledger-Fabric/tree/master/
